/build
src/main/assets/gemma-3-1b-it-q4_0.gguf
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
app/build
cactus-kotlin/build
cactus-kotlin/library/build
